<div class="offer-modal-wrapper">
  <div class="modal">
    <div id="login-form">
        <h2>Your offer accepted</h2>
        <div class="post-user-name">
          <%offeruser = User.find_by(id: accept['user_id'])%>
          <img src="<%="/user_images/#{offeruser.image_name}"%>" alt="">
        <%=link_to("#{offeruser.name}","/users/#{offeruser.id}/show")%>
        </div>
        <div class="info">
            <p class = "post-message"><%=accept['message']%></p>
            <div class= "post-subtitle"><p>You will give</p></div>
            <div class = "post-money"><p id= "gettest"><%=accept['give']%></p></div>
            <div class= "post-subtitle"><p>You will recieve</p></div>
            <div class = "post-money"><p id= "givetest"><%=accept['get']%></p></div>
            <div class = "post-subtitle"><p>You can save</p></div>
            <div class = "post-money"><p><%=accept['save']%>&emsp;&emsp;<i class="fa fa-coffee" aria-hidden="true"></i></p></div>
        <div class ="submit-btn"><span class = "meet-up">Meet up!!!</span></div>
      </div>
    </div>
  </div>
</div>

<div class="invisible">
  <div class="" id="accept_give_currency"><%=accept['give_currency']%></div>
  <div class="" id="accept_receive_currency"><%=accept['receive_currency']%></div>
  <div class="" id="accept_give_currency_amount"><%=accept['give_currency_amount']%></div>
  <div class="" id="accept_receive_currency_amount"><%=accept['receive_currency_amount']%></div>
</div>

<script type="text/javascript">
$('.meet-up').click(function(){
  $('.offer-modal-wrapper').fadeOut();
  $('#map-modal').show();
  $.ajax({
    url: '/posts/create_transaction',
    type: 'POST',
    data: {
      user_id:"<%=accept['id']%>",// JSの変数の中のデータをRailsに渡します。
      trade_with:"<%=accept['user_id']%>",
      give_currency:"<%=accept['receive_currency']%>",
      receive_currency:"<%=accept['give_currency']%>",
      give_currency_amount:"<%=accept['receive_currency_amount']%>",
      receive_currency_amount:"<%=accept['give_currency_amount']%>"
    },
  })
  .done(function(response){
    // Railsのアクションが正しく実行された時の処理
  })
  .fail(function(xhr){
    // Railsのアクションなどでエラーが発生した時の処理
  });
  routing();
  // TODO:OSMにより問題解決のため不要
  // mapがfadeInなどでは読み込めないため、事前にz-indexをー1で読み込んで、その後に下記のscriptでz-indexを200に変更して表示する作戦
  // $('.map-modal-wrapper').css('z-index', '200');
});
</script>
