<div class="post-index-container">


<div class="main posts-index">
<!-- 自分のステータスを表示================================================================================ -->
<%if Post.find_by(user_id: @current_user.id)%>
  <div class="mypost-status">
    <div class="mypost-user-name">
      <img src="<%="/user_images/#{@current_user.image_name}"%>" alt="">
      <%=link_to("#{@current_user.name}","/users/#{@current_user.id}/show")%>
    </div>
    <div class="myposts">
      <%if Post.find_by(user_id: @current_user.id)%>
      <div class = "mypost"><a>I have <%=@mypost.currency_have%> <%=@mypost.currency_have_amount.to_i%></a></div>
      <%end%>
    </div>
      <%if Post.find_by(user_id: @current_user.id)%>
        <p class = "mypostMessage">"<%=@mypost.content%>"</p>
      <%end%>
    </div>


  <div class="invisible">
    <input id="mypost-message" type="text" name="" value="<%=@mypost.content%>">
    <input id="mypost-currency-have" type="text" name="" value="<%=@mypost.currency_have%>">
    <input id="mypost-currency-have-amount" type="text" name="" value="<%=@mypost.currency_have_amount%>">
    <input id="mypost-currency-want" type="text" name="" value="<%=@mypost.currency_want%>">
    <input id="mypost-currency-want-amount" type="text" name="" value="<%=@mypost.currency_want_amount%>">
    <input id="mypost-lat" type="text" name="" value="<%=@mypost.lat%>">
    <input id="mypost-lng" type="text" name="" value="<%=@mypost.lng%>">
  </div>


<%else%>
  <div class="nomypost">
    <p>Please update your status</p>
  </div>
<%end%>


<!-- 投稿モーダル======================================================================================================-->
    <div class="signup-modal-wrapper" id="exchange-modal">
      <div class="modal">
        <div class = "close-modal2">
          <i class="fa fa-2x fa-times"></i>
        </div>
        <div id="exchange-form">
            <h2>Exchange</h2>
            <div class="form-error">
              <%if @error_message%>
              <%=@error_message%>
              <%end%>
            </div>
            <div class="form">
              <div class="form-body">
              <!-- <%=form_tag("/posts/create") do%> -->
                  <p>I have</p>
                  <select name="currency_have" class="form-control editable" id="Currency">
                        <!--option value="">▼通貨</option-->
                        <option value="">Select currency</option>
                        <%if @mypost%>
                          <%if @mypost.currency_have == "USD"%>
                            <option value="USD"selected>$(USD)</option>
                            <%else%>
                            <option value="USD">$(USD)</option>
                          <%end%>

                          <%if @mypost.currency_have == "EUR"%>
                            <option value="EUR"selected>€(EUR)</option>
                            <%else%>
                            <option value="EUR">€(EUR)</option>
                          <%end%>

                          <%if @mypost.currency_have == "JPY"%>
                              <option value="JPY"selected>¥(JPY)</option>
                              <%else%>
                              <option value="JPY">¥(JPY)</option>
                          <%end%>

                        <%else%>
                          <option value="USD">$(USD)</option>
                          <option value="EUR">€(EUR)</option>
                          <option value="JPY">¥(JPY)</option>
                        <%end%>

                  </select>
                  <%if @mypost%>
                    <input name="input_currency" class="form-control location editable" size="5" placeholder="amount" value = "<%=@mypost.currency_have_amount%>" type="number" id="currency">
                  <%else%>
                    <input name="input_currency" class="form-control location editable" size="5" placeholder="amount" value = "Amount" type="number" id="currency">
                  <%end%>
                  <p>I want</p>
                  <select name="currency_want" class="form-control editable" id="Currency_base">
                        <!--option value="">▼通貨</option-->
                        <option value="">Select currency</option>
                        <%if @mypost%>
                          <%if @mypost.currency_want == "USD"%>
                            <option value="USD"selected>$(USD)</option>
                            <%else%>
                            <option value="USD">$(USD)</option>
                          <%end%>

                          <%if @mypost.currency_want == "EUR"%>
                            <option value="EUR"selected>€(EUR)</option>
                            <%else%>
                            <option value="EUR">€(EUR)</option>
                          <%end%>

                          <%if @mypost.currency_want == "JPY"%>
                              <option value="JPY"selected>¥(JPY)</option>
                              <%else%>
                              <option value="JPY">¥(JPY)</option>
                          <%end%>

                        <%else%>
                          <option value="USD">$(USD)</option>
                          <option value="EUR">€(EUR)</option>
                          <option value="JPY">¥(JPY)</option>
                        <%end%>
                  </select>
                  <input id="returnYen" class = "location" type="float" name="currency_want_amount"  placeholder="amount">
                  <p>Message</p>
                  <%if @mypost%>
                    <input class = "editable" id = "message" name="content" placeholder="message" value = "<%=@mypost.content%>">
                  <%else%>
                    <input class = "editable" id = "message" name="content" placeholder="message" value = "">
                  <%end%>
                  <p id = "test">GPS Location&emsp;<span class = "gps">Not Ready</span></p>

                  <div class="invisible">
                    <%if @mypost%>
                      <p>lat</p><input name = "lat" class = "lat"  value="<%=@mypost.lat%>">
                      <p>lng</p><input name = "lng" class = "lng"  value="<%=@mypost.lng%>">
                      <p>airport</p><input name = "location" class = "airport2"  value="<%=@mypost.location%>">
                      <p>terminal</p><input name = "terminal" class = "terminal2"  value="<%=@mypost.terminal%>">
                    <%else%>
                      <p>lat</p><input name = "lat" class = "lat"  value="">
                      <p>lng</p><input name = "lng" class = "lng"  value="">
                      <p>airport</p><input name = "location" class = "airport2"  value="">
                      <p>terminal</p><input name = "terminal" class = "terminal2"  value="">
                    <%end%>
                  </div>


                  <input class = "submit-btn" type="submit" name="" value="Update" id="exchange-submit">
              <!-- <%end%> -->
            </div>
          </div>

        </div>
      </div>
    </div>


<!-- locationモーダル=======================================================================================- -->
    <div class="location-modal-wrapper" id="location-modal">
      <div class="modal">
        <div class = "close-modal">
          <i class="fa fa-2x fa-times"></i>
        </div>
        <div id="exchange-form">
            <h2>Location</h2>
            <div class="form">
              <div class="form-body">
              <!-- <%=form_tag() do%> -->
                  <p>You are in</p>
                  <input name = "location" class = "airport" id="location" value="Searching..." readonly>
                  <select name="terminal" class="editable" id="terminal">
                        <!--option value="">▼通貨</option-->
                        <option value="0">Select Terminal</option>
                        <%if @mypost%>
                            <%if @mypost.terminal == 1%>
                              <option value="1" selected>1</option>
                            <%else%>
                              <option value="1">1</option>
                            <%end%>

                            <%if @mypost.terminal == 2%>
                              <option value="2" selected>2</option>
                            <%else%>
                              <option value="2">2</option>
                            <%end%>

                            <%if @mypost.terminal == 3%>
                              <option value="3" selected>3</option>
                            <%else%>
                              <option value="3">3</option>
                            <%end%>

                            <%if @mypost.terminal == 4%>
                              <option value="4" selected>4</option>
                            <%else%>
                              <option value="4">4</option>
                            <%end%>
                        <%else%>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        <%end%>
                  </select>

                  <!-- <input id="returnYen" class = "location" type="float" name="currency_want_amount"  placeholder="amount"> -->

                  <p id = "test">GPS Location&emsp;<span class = "gps">Not Ready</span></p>

                  <div class="invisible">
                    <p>lat</p><input name = "lat" class = "lat"  value="">
                    <p>lng</p><input name = "lng" class = "lng"  value="">
                    <p>airport</p><input name = "location" class = "airport"  value="">
                  </div>

                  <input class = "location close-modal exchange-show" type="submit" name="" value="OK">
              <!-- <%end%> -->
            </div>
          </div>
        </div>
      </div>
    </div>


<!-- 投稿の表示＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ -->
  <div class="container-i">
    <table align="center" cellspacing = "10" class = "posts-container" >
    <%for post in @posts do%>
    <tr class = "<%=post.user_id%>">
      <%if Post.find_by(user_id: @current_user.id)%><!--自分が投稿している場合。（以下の処理は自分の投稿情報（@mypost）を使うので自分の投稿がない場合に実行するとエラーになる）-->

<!-- 個別投稿 ========================================================-->
    <!--計算 =====================================================================================================================-->
      <%cal(@mypost.lat, @mypost.lng,
						@mypost.currency_want, @mypost.currency_have,
						@mypost.currency_want_amount, @mypost.currency_have_amount,
						post.lat, post.lng,
						post.currency_want, post.currency_have,
						post.currency_want_amount, post.currency_have_amount
						)%>

          <%#if @distance < 200 %>　<!--200メートル以内の投稿のみを表示-->
              <td class="posts-index-item" id="td<%=post.id%>">
                  <div class="post-user-name" id="post-user-name<%=post.id%>">
                    <%user = User.find_by(id: post.user_id)%>
                    <img class = "user-image"  src="<%="/user_images/#{user.image_name}"%>" alt="">
                  <%=link_to("#{user.name}","/users/#{user.id}/show")%>
                  </div>

                  <div class="info"><!--投稿内の内容を表示-->
                      <p class = "postmessage<%=post.id%>"><a>"<%=post.content%>"</a></p>
                      <div class= "post-subtitle"><p>we can trade </p></div>
                      <div class="myposts-post">
                        <div class = "mypost-post"><a class = "getinfo<%=post.id%>"><%=@get%></a></div>
                        <a class="fa fa-exchange"></a>
                        <div class = "mypost-post"><a class = "giveinfo<%=post.id%>"><%=@give%></a></div>
                      </div>

                      <div class = "post-subtitle"><p>save committion</p></div>
                      <div class = "post-money"><p><a class = "saveinfo<%=post.id%>"><%=@save%></a>&emsp;
                        <%if @coffee < 2%>
                        <a class = "coffeeinfo<%=post.id%>"><i class='fa fa-coffee'></i></a>
                        <%elsif @coffee < 3%>
                          <a class = "coffeeinfo<%=post.id%>"><i class='fa fa-coffee'></i><i class='fa fa-coffee'></i></a>
                        <%elsif @coffee >= 3%>
                          <a class = "coffeeinfo<%=post.id%>"><i class='fa fa-coffee'></i><i class='fa fa-coffee'></i><i class='fa fa-coffee'></i></a>
                        <%end%>
                      </p></div>

                      <span data-livestamp="<%=post.updated_at.strftime("%Y/%m/%d %H:%M %Z")%>" class = "test"></span>
                      <!-- <span data-livestamp="<%=post.updated_at%>" class = "test"></span> -->
                      <!-- <%=post.updated_at%> -->
                      <!-- <span class="timeago" datetime="2008-07-17T09:24:17Z"></span> -->

                      <div class="invisible">
                        <div class="userid<%=post.id%>"><%=user.id%></div>
                        <div class="offer_save_amount<%=post.id%>"><%=@savemoffer%></div>
                        <div class="myid<%=post.id%>"><%=@mypost.user_id%></div>
                      </div>

                  </div>
              </td>
              <script type="text/javascript">
              $('#td<%=post.id%>').on('click',function(){
                $('#show-modal').fadeIn();
                  var postmessageshow = $('.postmessage<%=post.id%>').text();
                      getshow = $('.getinfo<%=post.id%>').text();
                      giveshow = $('.giveinfo<%=post.id%>').text();
                      saveshow = $('.saveinfo<%=post.id%>').text();
                      coffeeshow = $('.coffeeinfo<%=post.id%>').html();
                      postusernameshow = $('#post-user-name<%=post.id%>').html();
                      myid = $('.myid<%=post.id%>').text();
                      userid = $('.userid<%=post.id%>').text();
                      postsavemoffer = $('.offer_save_amount<%=post.id%>').text();
                      $('#postmessageshow').text(postmessageshow);
                      $('#getshow').text(getshow);
                      $('#giveshow').text(giveshow);
                      $('#saveshow').text(saveshow);
                      $('#coffeeshow').html(coffeeshow);
                      $('#post-user-name-show').html(postusernameshow);
                      $('#post-userid').text(userid);
                      $('#post_offer_savemoffer').text(postsavemoffer);
                      // $('#post-myid').text(myid);
            });
              </script>





          <%#end%>
        <%end%>
       </tr>
    　<%end%>
    </table>
  <!-- </div> -->

<a class="fa fa-exchange location-show" id="command"></a>


<!--詳細モーダル ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝-->
  <div class="show-modal-wrapper" id="show-modal">
    <div class="modal">
      <div class = "close-modal">
        <i class="fa fa-2x fa-times"></i>
      </div>
      <div id="login-form">
        <h2>Detail</h2>
        <div class="post-user-name" id="post-user-name-show">
        </div>
            <div class="info">
                <!-- <p id = "postid-show"></p> -->
                <div class = "post-message"><p id="postmessageshow"></p></div>
                <div class = "post-subtitle"><p>You will give</p></div>
                <!-- <div class = "post-money"><p id = "getshow"></p></div> -->
                <div class = "mypost-detail"><a id="getshow"></a></div>
                <div class = "post-subtitle"><p>You will recieve</p></div>
                <!-- <div class = "post-money"><p id = "giveshow"></p></div> -->
                <div class = "mypost-detail"><a id="giveshow"></a></div>
                <div class = "post-subtitle"><p>You can save</p></div>
                <div class = "post-money"><p><a id="saveshow"></a>&emsp;<a id="coffeeshow"></a></p></div>
<!-- <div id="post-userid"></div> -->
                <div class="invisible">
                  <div id="post-userid"></div>
                  <div id="post_offer_savemoffer"></div>
                  <div id="post-myid"><%=@current_user.id%></div>
                </div>
            </div>
          </div>
          <!-- <input class = "submit-btn" id="offersubmit" type="submit" name="" value="Offer"> -->
          <div><a class = " submit-btn" id="offersubmit">Send Offer</a></div>
    </div>
  </div>


<!-- ActionCableのoffer用モーダル======================================================================================================= -->

<!-- <div class="container-i"> -->
  <div class="offer-modal-wrapper-test">
    <div class="slider">
      <div class="slideSet">
        <div class="initial"></div>
      </div>
    </div>
      <div class = "submit-btn offer-decline">Decline</div>
  </div>

</div>
</div>
</div>

<div class="map-modal-wrapper" id="map-modal">
  <div class="modal">
    <div id="login-form">
        <h2>Map to Cafe</h2>
        <div class="map-container">
            <div id="map"></div>
        </div>
        <div class ="submit-btn close-map">Arrived</div>
    </div>
  </div>
</div>
