
<div class="main posts-index">
  <div class="new-post">
    <div class="post-user-name">
      <img src="<%="/user_images/#{@current_user.image_name}"%>" alt="">
      <%=link_to("#{@current_user.name}","/users/#{@current_user.id}/show")%>
      <%if Post.find_by(user_id: @current_user.id)%>
          &emsp;&emsp;&emsp;<%=@mypost.content%>
      <%end%>

    </div>

    <div class="post-info">
      <%if Post.find_by(user_id: @current_user.id)%>

              i have <%=@mypost.currency_have%>
              <%=@mypost.currency_have_amount%><br>
              i want <%=@mypost.currency_want%>
              <%=@mypost.currency_want_amount%>
              <!-- location
              緯度<%=@mypost.lat%>
              経度<%=@mypost.lng%> -->
      <%end%>
    </div>
  </div>

  <div class="container-i">
    <%for post in @posts do%>
      <%if Post.find_by(user_id: @current_user.id)%><!--自分が投稿している場合。（以下の処理は自分の投稿情報（@mypost）を使うので自分の投稿がない場合に実行するとエラーになる）-->
<!-- 計算 ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝-->
          <!-- 距離の計算 -->
          <%
          lat1 = post.lat
          lng1 = post.lng
          lat2 = @mypost.lat
          lng2 = @mypost.lng

          y1 = lat1 * Math::PI / 180
          x1 = lng1 * Math::PI / 180
          y2 = lat2 * Math::PI / 180
          x2 = lng2 * Math::PI / 180
          earth_r = 6378140

          deg = Math::sin(y1) * Math::sin(y2) + Math::cos(y1) * Math::cos(y2) * Math::cos(x2 - x1)
          distance = earth_r * (Math::atan(-deg / Math::sqrt(-deg * deg + 1)) + Math::PI / 2)
          # /1000
          %>

          <!--交換可能な金額、手数料の浮いた分を計算するーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー  -->
          <%if @mypost.currency_want_amount <= post.currency_have_amount
             give = "#{@mypost.currency_want}" + " " + "#{@mypost.currency_want_amount}"
            elsif @mypost.currency_want_amount > post.currency_have_amount
             give = "#{post.currency_have}" + " " + "#{post.currency_have_amount}"
           end%>

           <%if @mypost.currency_want_amount <= post.currency_have_amount
              get = "#{@mypost.currency_have}" + " " + "#{@mypost.currency_have_amount}"
              elsif @mypost.currency_want_amount > post.currency_have_amount
              get = "#{post.currency_want}" + " " + "#{post.currency_want_amount}"
            end%>

            <%if  @mypost.currency_want_amount <= post.currency_have_amount
              savem = (@mypost.currency_have_amount * 0.05).round(1)
              save ="#{@mypost.currency_have}" + " " + "#{(@mypost.currency_have_amount * 0.05).round(1)}"
              elsif @mypost.currency_want_amount > post.currency_have_amount
              savem = (post.currency_want_amount * 0.05).round(1)
              save ="#{post.currency_want}" + " " + "#{(post.currency_want_amount * 0.05).round(1)}"
            end%>


<!--＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ -->
          <%if @mypost.currency_have === "jpy"
            coffee = (savem / 50).to_i
          elsif @mypost.currency_have === "usd"
            coffee = (savem / 0.5).to_i
          elsif @mypost.currency_have === "eur"
            coffee = (savem / 0.7).to_i
          end%>


          <%if distance < 200 %>　<!--200メートル以内の投稿のみを表示-->
              <div class="posts-index-item">
                  <div class="post-user-name">
                    <%user = User.find_by(id: post.user_id)%>
                    <img src="<%="/user_images/#{user.image_name}"%>" alt="">
                  <%=link_to("#{user.name}","/users/#{user.id}/show")%>
                  </div>

                  <div class="info"><!--投稿内の内容を表示-->
                      <p class = "post-message" id = "show-show"> <a><%=link_to(simple_format(post.content), "/posts/#{post.id}")%></a></p>
                      <!-- <p>i have <%=post.currency_have%>
                      <%=post.currency_have_amount%></p>
                      <p>i want <%=post.currency_want%>
                      <%=post.currency_want_amount%></p> -->
                      <div class= "post-subtitle"><p>we can trade </p></div>
                      <div class = "post-money"><p><a id = "info-get"><%=get%> </a><span class = "fa fa-chevron-right"></span><a id = "info-give"> <%=give%></a></p></div>
                      <div class = "post-subtitle"><p>save committion</p></div>
                      <div class = "post-money"><p><%=save%>&emsp;&emsp;<i class="fa fa-coffee" aria-hidden="true"></i><%=coffee%></p></div>
                      <!-- location<br>
                      緯度<%=post.lat%><br>
                      経度<%=post.lng%><br> -->

                      <div class = "post-money"> <p><%=distance.to_i%>m</p></div>
                  </div>

                  <%=link_to("EXHANGE","/posts/#{post.id}", class: "show-show")%>
              </div>
          <%end%>

            <div class="login-modal-wrapper" id="show-modal">
              <div class="modal">
                <div class = "close-modal">
                  <i class="fa fa-2x fa-times"></i>
                </div>
                <div id="login-form">
                    <!-- <h2>Login</h2> -->
                    <div class="post-user-name">
                      <%user = User.find_by(id: post.user_id)%>
                      <img src="<%="/user_images/#{user.image_name}"%>" alt="">
                    <%=link_to("#{user.name}","/users/#{user.id}/show")%>
                    </div>
                    <div class="info">
                        <p class = "post-message"><%=link_to(simple_format(post.content), "/posts/#{post.id}")%></p>
                        <div class= "post-subtitle"><p>You will give</p></div>
                        <div class = "post-money"><p id = "gettest"></p></div>
                        <div class= "post-subtitle"><p>You will recieve</p></div>
                        <div class = "post-money"><p id = "givetest"></p></div>
                        <div class = "post-subtitle"><p>You can save</p></div>
                        <div class = "post-money"><p><%=save%>&emsp;&emsp;<i class="fa fa-coffee" aria-hidden="true"></i><%=coffee%></p></div>
                        <!-- location<br>
                        緯度<%=post.lat%><br>
                        経度<%=post.lng%><br> -->
                        <div class = "post-money"> <p><%=distance.to_i%>m</p></div>
                    </div>
                      <!-- <%=form_tag("/login") do%>
                        <input name = "email" class="form-control" type="text" placeholder="E-mail">
                        <input name = "password" class="form-control" type="password" placeholder="Password">
                        <input class="submit-btn" type="submit" value="Login">
                      <%end%> -->
                </div>
              </div>
            </div>
          <%end%>
  　<%end%>
  </div>
</div>
