
<div class="main posts-index">
<!-- 自分のステータスを表示================================================================================ -->
<%if Post.find_by(user_id: @current_user.id)%>
  <div class="mypost-status">
    <div class="mypost-user-name">
      <img src="<%="/user_images/#{@current_user.image_name}"%>" alt="">
      <%=link_to("#{@current_user.name}","/users/#{@current_user.id}/show")%>
    </div>
    <div class="myposts">
      <%if Post.find_by(user_id: @current_user.id)%>
      <div class = "mypost"><a>I have <%=@mypost.currency_have%> <%=@mypost.currency_have_amount.to_i%></a></div>
      <!-- <div class = "mypost"><a>i want <%=@mypost.currency_want%><%=@mypost.currency_want_amount.to_i%></a></div> -->
      <%end%>
    </div>
      <%if Post.find_by(user_id: @current_user.id)%>
        <p class = "mypostMessage">"<%=@mypost.content%>"</p>
      <%end%>
    </div>
  </div>
<%else%>
  <div class="nomypost">
    <p>Please post your status</p>
  </div>
<%end%>


<!-- モーダル投稿======================================================================================================-->
<%if @mypost%>
    <div class="signup-modal-wrapper" id="exchange-modal">
      <div class="modal">
        <div class = "close-modal2">
          <i class="fa fa-2x fa-times"></i>
        </div>
        <div id="exchange-form">
            <h2>Exchange</h2>
            <div class="form-error">
              <%if @error_message%>
              <%=@error_message%>
              <%end%>
            </div>
            <div class="form">
              <div class="form-body">
              <%=form_tag("/posts/create") do%>
                  <p>I have</p>
                  <select name="currency_have" class="form-control editable" id="Currency">
                        <!--option value="">▼通貨</option-->
                        <option value="">Select currency</option>
                        <%if @mypost.currency_have == "USD"%>
                          <option value="USD"selected>$(USD)</option>
                          <%else%>
                          <option value="USD">$(USD)</option>
                        <%end%>

                        <%if @mypost.currency_have == "EUR"%>
                          <option value="EUR"selected>€(EUR)</option>
                          <%else%>
                          <option value="EUR">€(EUR)</option>
                        <%end%>

                        <%if @mypost.currency_have == "JPY"%>
                            <option value="JPY"selected>¥(JPY)</option>
                            <%else%>
                            <option value="JPY">¥(JPY)</option>
                        <%end%>
                  </select>
                  <input name="input_currency" class="form-control location editable" size="5" placeholder="amount" value = "<%=@mypost.currency_have_amount%>" type="number" id="currency">

                  <p>I want</p>
                  <select name="currency_want" class="form-control editable" id="Currency_base">
                        <!--option value="">▼通貨</option-->
                        <option value="">Select currency</option>
                        <%if @mypost.currency_want == "USD"%>
                          <option value="USD"selected>$(USD)</option>
                          <%else%>
                          <option value="USD">$(USD)</option>
                        <%end%>

                        <%if @mypost.currency_want == "EUR"%>
                          <option value="EUR"selected>€(EUR)</option>
                          <%else%>
                          <option value="EUR">€(EUR)</option>
                        <%end%>

                        <%if @mypost.currency_want == "JPY"%>
                            <option value="JPY"selected>¥(JPY)</option>
                            <%else%>
                            <option value="JPY">¥(JPY)</option>
                        <%end%>
                  </select>
                  <input id="returnYen" class = "location" type="float" name="currency_want_amount"  placeholder="amount">
                  <p>Message</p>
                  <input class = "editable" id = "message" name="content" placeholder="message" value = "<%=@mypost.content%>">
                  <p id = "test">GPS Location&emsp;<span class = "gps">Not Ready</span></p>

                  <div class="invisible">
                    <%if @mypost%>
                      <p>lat</p><input name = "lat" class = "lat"  value="<%=@mypost.lat%>">
                      <p>lng</p><input name = "lng" class = "lng"  value="<%=@mypost.lng%>">
                      <p>airport</p><input name = "location" class = "airport2"  value="<%=@mypost.location%>">
                      <p>terminal</p><input name = "terminal" class = "terminal2"  value="<%=@mypost.terminal%>">
                    <%else%>
                      <p>lat</p><input name = "lat" class = "lat"  value="">
                      <p>lng</p><input name = "lng" class = "lng"  value="">
                      <p>airport</p><input name = "location" class = "airport2"  value="">
                      <p>terminal</p><input name = "terminal" class = "terminal2"  value="">
                    <%end%>
                  </div>


                  <input class = "submit-btn" type="submit" name="" value="Update">
              <%end%>
            </div>
          </div>

        </div>
      </div>
    </div>
<%end%>


<!-- exchange初期ログイン用 =====================================================================================================-->
<div class="signup-modal-wrapper" id="exchange-modal2">
  <div class="modal">
    <div class = "close-modal2">
      <i class="fa fa-2x fa-times"></i>
    </div>
    <div id="exchange-form">
        <h2>Exchange</h2>
        <div class="form-error">
          <%if @error_message%>
          <%=@error_message%>
          <%end%>
        </div>
        <div class="form">
          <div class="form-body">
          <%=form_tag("/posts/create") do%>
              <p>I have</p>
              <select name="currency_have" class="form-control editable" id="Currency">
                    <!--option value="">▼通貨</option-->
                    <option value="">Select currency</option>

                      <option value="USD">$(USD)</option>

                      <option value="EUR">€(EUR)</option>

                      <option value="JPY">¥(JPY)</option>

              </select>
              <input name="input_currency" class="form-control location editable" size="5" placeholder="amount" type="number" id="currency">

              <p>I want</p>
              <select name="currency_want" class="form-control editable" id="Currency_base">
                    <!--option value="">▼通貨</option-->
                    <option value="">Select currency</option>

                      <option value="USD">$(USD)</option>

                      <option value="EUR">€(EUR)</option>

                      <option value="JPY">¥(JPY)</option>

              </select>
              <input id="returnYen" class = "location" type="float" name="currency_want_amount"  placeholder="amount">
              <p>Message</p>
              <input class = "editable" id = "message" name="content" placeholder="message">
              <p id = "test">GPS Location&emsp;<span class = "gps">Not Ready</span></p>

              <div class="invisible">

                  <p>lat</p><input name = "lat" class = "lat"  value="">
                  <p>lng</p><input name = "lng" class = "lng"  value="">
                  <p>airport</p><input name = "location" class = "airport2"  value="">
                  <p>terminal</p><input name = "terminal" class = "terminal2"  value="">

              </div>


              <input class = "submit-btn" type="submit" name="" value="Update">
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- exchange初期ログイン用 ===おわり==================================================================================================-->




<!-- location確認モーダル===初期ログイン用====================================================================================================== -->
<%unless @mypost%>
      <div class="map-modal-wrapper" id="location-modal">
        <div class="modal">
          <div class = "close-modal">
            <i class="fa fa-2x fa-times"></i>
          </div>
          <div id="exchange-form">
              <h2>Location</h2>
              <div class="form">
                <div class="form-body">
                <!-- <%=form_tag() do%> -->
                    <p>You are in</p>
                    <input name = "location" class = "airport" id="location" value="">
                    <select name="terminal" class="editable" id="terminal">
                          <!--option value="">▼通貨</option-->
                          <option value="0">Select Terminal</option>
                          <%if @mypost%>
                              <%if @mypost.terminal == "1"%>
                                <option value="1" selected>1</option>
                              <%else%>
                                <option value="1">1</option>
                              <%end%>

                              <%if @mypost.terminal == "2"%>
                                <option value="2" selected>2</option>
                              <%else%>
                                <option value="2">2</option>
                              <%end%>

                              <%if @mypost.terminal == "3"%>
                                <option value="3" selected>3</option>
                              <%else%>
                                <option value="3">3</option>
                              <%end%>

                              <%if @mypost.terminal == "4"%>
                                <option value="4" selected>4</option>
                              <%else%>
                                <option value="4">4</option>
                              <%end%>
                          <%else%>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                          <%end%>
                    </select>

                    <input id="returnYen" class = "location" type="float" name="currency_want_amount"  placeholder="amount">

                    <p id = "test">GPS Location&emsp;<span class = "gps">Not Ready</span></p>

                    <div class="invisible">
                      <p>lat</p><input name = "lat" class = "lat"  value="">
                      <p>lng</p><input name = "lng" class = "lng"  value="">
                      <p>airport</p><input name = "location" class = "airport"  value="">
                    </div>

                    <input class = "location close-modal exchange-show2" type="submit" name="" value="OK">
                <!-- <%end%> -->
              </div>
            </div>
          </div>
        </div>
      </div>
<%end%>

<!-- location確認モーダルおわり============================================= -->

<!-- location変更モーダル=======================================================================================- -->
    <div class="location-modal-wrapper" id="location-modal">
      <div class="modal">
        <div class = "close-modal">
          <i class="fa fa-2x fa-times"></i>
        </div>
        <div id="exchange-form">
            <h2>Location</h2>
            <div class="form">
              <div class="form-body">
              <!-- <%=form_tag() do%> -->
                  <p>You are in</p>
                  <input name = "location" class = "airport" id="location" value="">
                  <select name="terminal" class="editable" id="terminal">
                        <!--option value="">▼通貨</option-->
                        <option value="0">Select Terminal</option>
                        <%if @mypost%>
                            <%if @mypost.terminal == 1%>
                              <option value="1" selected>1</option>
                            <%else%>
                              <option value="1">1</option>
                            <%end%>

                            <%if @mypost.terminal == 2%>
                              <option value="2" selected>2</option>
                            <%else%>
                              <option value="2">2</option>
                            <%end%>

                            <%if @mypost.terminal == 3%>
                              <option value="3" selected>3</option>
                            <%else%>
                              <option value="3">3</option>
                            <%end%>

                            <%if @mypost.terminal == 4%>
                              <option value="4" selected>4</option>
                            <%else%>
                              <option value="4">4</option>
                            <%end%>
                        <%else%>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        <%end%>
                  </select>

                  <input id="returnYen" class = "location" type="float" name="currency_want_amount"  placeholder="amount">

                  <p id = "test">GPS Location&emsp;<span class = "gps">Not Ready</span></p>

                  <div class="invisible">
                    <p>lat</p><input name = "lat" class = "lat"  value="">
                    <p>lng</p><input name = "lng" class = "lng"  value="">
                    <p>airport</p><input name = "location" class = "airport"  value="">
                  </div>

                  <input class = "location close-modal exchange-show" type="submit" name="" value="OK">
              <!-- <%end%> -->
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- location変更モーダル==おわり=====================================================================================- -->

<!-- 投稿の表示＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ -->
  <div class="container-i">
    <table align="center" cellspacing = "10">
    <%for post in @posts do%>
    <tr>
      <%if Post.find_by(user_id: @current_user.id)%><!--自分が投稿している場合。（以下の処理は自分の投稿情報（@mypost）を使うので自分の投稿がない場合に実行するとエラーになる）-->

<!-- 個別投稿の表示 ========================================================-->
    <!--計算 =====================================================================================================================-->
      <%cal(@mypost.lat, @mypost.lng,
						@mypost.currency_want, @mypost.currency_have,
						@mypost.currency_want_amount, @mypost.currency_have_amount,
						post.lat, post.lng,
						post.currency_want, post.currency_have,
						post.currency_want_amount, post.currency_have_amount
						)%>

          <%if @distance < 200 %>　<!--200メートル以内の投稿のみを表示-->
              <td class="posts-index-item">
                  <div class="post-user-name">
                    <%user = User.find_by(id: post.user_id)%>
                    <img class = "user-image"  src="<%="/user_images/#{user.image_name}"%>" alt="">
                  <%=link_to("#{user.name}","/users/#{user.id}/show")%>
                  </div>

                  <div class="info"><!--投稿内の内容を表示-->
                      <p class = "mypostMessage-post"><a>"<%=post.content%>"</a></p>
                      <!-- <p>i have <%=post.currency_have%>
                      <%=post.currency_have_amount%></p>
                      <p>i want <%=post.currency_want%>
                      <%=post.currency_want_amount%></p> -->
                      <p class = "postid"><%=post.id%></p>
                      <div class= "post-subtitle"><p>we can trade </p></div>
                      <div class="myposts-post">
                        <div class = "mypost-post"><a class = "getinfo"><%=@get%></a></div>
                        <a class="fa fa-exchange"></a>
                        <div class = "mypost-post"><a class = "giveinfo"><%=@give%></a></div>
                      </div>

                      <div class = "post-subtitle"><p>save committion</p></div>
                      <div class = "post-money"><p><a class = "saveinfo"><%=@save%></a>&emsp;<a class = "coffeeinfo"><i class="fa fa-coffee"></i><%=@coffee%></a></p></div>
                      <!-- location<br>
                      緯度<%=post.lat%><br>
                      経度<%=post.lng%><br> -->
                      <div class = "post-money"> <p><%=@distance.to_i%>m</p></div>
                  </div>
              </td>
          <%end%>
        <%end%>
       </tr>
    　<%end%>
    </table>
  </div>
</div>

<a class="fa fa-exchange exchange-show" id = "command"></a>


<!--詳細モーダル ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝-->
  <div class="show-modal-wrapper" id="show-modal">
    <div class="modal">
      <div class = "close-modal">
        <i class="fa fa-2x fa-times"></i>
      </div>
      <div id="login-form">
        <h2>detail</h2>
        <div class="post-user-name" id ="post-user-name-show">
          </div>
            <div class="info">
                <!-- <p id = "postid-show"></p> -->
                <div class = "post-message"><p id = "postmessageshow"></p></div>
                <div class = "post-subtitle"><p>You will give</p></div>
                <!-- <div class = "post-money"><p id = "getshow"></p></div> -->
                <div class = "mypost-detail"><a id = "getshow"></a></div>
                <div class = "post-subtitle"><p>You will recieve</p></div>
                <!-- <div class = "post-money"><p id = "giveshow"></p></div> -->
                <div class = "mypost-detail"><a id = "giveshow"></a></div>
                <div class = "post-subtitle"><p>You can save</p></div>
                <div class = "post-money"><p><a id = "saveshow"></a>&emsp;<a id = "coffeeshow"></a></p></div>

            </div>
          </div>
          <input class = "submit-btn" id="offersubmit" type="submit" name="" value="Offer">
    </div>
  </div>
<!-- 詳細モーダルおわり==================================================================================================================== -->

<!-- offerが来てる場合の処理＝＝オファーモーダルの表示＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝  -->
  <%if @checkoffer%>
  <%@offerpost = Post.find_by(id: @checkoffer)%>
    <%offerpost = Post.find_by(id: @checkoffer)%>
    <%offeruser = User.find_by(id: offerpost.user_id)%>

<!-- 通知のテスト用 -================================-->
    <script type="text/javascript">
          Push.create('You recieved offer', {
          　　body: "check afec out!!",
          　　timeout: 8000, // 通知が消えるタイミング
          　　vibrate: [100, 100, 100], // モバイル端末でのバイブレーション秒数
          　　onClick: function() {
          　　　　// 通知がクリックされた場合の設定
          　　　　console.log(this);
          　　}
          });
      </script>
      <!-- ここまで -->

      <!-- 計算 ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝-->
    	<%cal(@mypost.lat, @mypost.lng,
    				@mypost.currency_want, @mypost.currency_have,
    				@mypost.currency_want_amount, @mypost.currency_have_amount,
    				offerpost.lat, offerpost.lng,
    				offerpost.currency_want, offerpost.currency_have,
    				offerpost.currency_want_amount, offerpost.currency_have_amount
    				)%>

      <!--モーダルの内容  ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝-->
          <div class="offer-modal-wrapper">
            <div class="modal">
              <div id="login-form">
                  <h2>Recieved offer</h2>
                  <div class="post-user-name">
                    <%offeruser = User.find_by(id: offerpost.user_id)%>
                    <img src="<%="/user_images/#{offeruser.image_name}"%>" alt="">
                  <%=link_to("#{offeruser.name}","/users/#{offeruser.id}/show")%>
                  </div>
                  <div class="info">
                      <p class = "post-message"><%=link_to(simple_format(offerpost.content), "/offerposts/#{post.id}")%></p>
                      <div class= "post-subtitle"><p>You will give</p></div>
                      <div class = "post-money"><p id = "gettest"><%=@get%></p></div>
                      <div class= "post-subtitle"><p>You will recieve</p></div>
                      <div class = "post-money"><p id = "givetest"><%=@give%></p></div>
                      <div class = "post-subtitle"><p>You can save</p></div>
                      <div class = "post-money"><p><%=@save%>&emsp;&emsp;<i class="fa fa-coffee" aria-hidden="true"></i><%=@coffee%></p></div>
                      <!-- location<br>
                      緯度<%=post.lat%><br>
                      経度<%=post.lng%><br> -->
                      <div class = "post-distance"> <p><%=@distance.to_i%>m</p></div>
                  <div><span class = " submit-btn open-map"><%=link_to("Accept", "/posts/acceptoffer",{method:"post"})%></span><span class = "submit-btn"><%=link_to("decline", "/posts/destroyoffer",{method:"post"})%></span></div>
                </div>
              </div>
            </div>
          </div>
        <%end%>
    <!--=========================オファーモーダルおわり====================================================================================================================  -->

<!-- acceptモーダル ================================================================================================================================-->
    <!-- acceptが来てる場合の処理＝＝オファーモーダルの表示＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝  -->
      <%if @acceptcheckoffer%>
        <%offerpost = Post.find_by(id: @acceptcheckoffer)%>
        <%offeruser = User.find_by(id: offerpost.user_id)%>

      <!-- 計算 ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝-->
    				<%cal(@mypost.lat, @mypost.lng,
    							@mypost.currency_want, @mypost.currency_have,
    							@mypost.currency_want_amount, @mypost.currency_have_amount,
    							offerpost.lat, offerpost.lng,
    							offerpost.currency_want, offerpost.currency_have,
    							offerpost.currency_want_amount, offerpost.currency_have_amount
    							)%>


      <!--モーダルの内容  ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝-->
          <div class="offer-modal-wrapper">
            <div class="modal">
              <div id="login-form">
                  <h2>Your offer accepted</h2>
                  <div class="post-user-name">
                    <%offeruser = User.find_by(id: offerpost.user_id)%>
                    <img src="<%="/user_images/#{offeruser.image_name}"%>" alt="">
                  <%=link_to("#{offeruser.name}","/users/#{offeruser.id}/show")%>
                  </div>
                  <div class="info">
                      <p class = "post-message"><%=link_to(simple_format(offerpost.content), "/offerposts/#{post.id}")%></p>
                      <div class= "post-subtitle"><p>You will give</p></div>
                      <div class = "post-money"><p id = "gettest"><%=@get%></p></div>
                      <div class= "post-subtitle"><p>You will recieve</p></div>
                      <div class = "post-money"><p id = "givetest"><%=@give%></p></div>
                      <div class = "post-subtitle"><p>You can save</p></div>
                      <div class = "post-money"><p><%=@save%>&emsp;&emsp;<i class="fa fa-coffee" aria-hidden="true"></i><%=@coffee%></p></div>
                      <!-- location<br>
                      緯度<%=post.lat%><br>
                      経度<%=post.lng%><br> -->
                      <div class = "post-distance"> <p><%=@distance.to_i%>m</p></div>
                  <div class ="submit-btn"><span class = "open-map"><%=link_to("Go to Cafe", "/posts/destroyaccept",{method:"post"})%></span></div>
                </div>
              </div>
            </div>
          </div>
        <%end%>
<!-- =============================-acceptモーダルおわり ==================================================================================================-->
<!-- mapモーダル========================================================================================================================================== -->
<%if @mapshow%>
<div class="map-modal-wrapper" id="map-modal">
  <div class="modal">
    <div id="login-form">
        <h2>Map to Cafe</h2>
        <div class="map-container">
            <div id="map"></div>
        </div>
        <div class ="submit-btn close-modal"><%=link_to("Arrived", "/posts/destroymap",{method:"post"})%></div>
    </div>
  </div>
</div>
<%end%>




<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyhGYfqVCJlu4nw3oBC8BQgHgUdpKyoLs&callback=initMap">
</script>
<!-- =====================mapモーダルおわり================================================================================================================= -->
<%= javascript_include_tag 'checkoffer.js' %>
<%= javascript_include_tag 'googlemap.js' %>
