<!DOCTYPE html>

<html>
  <head>
    <title>afec</title>

    <!-- レスポンシブ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- awsomefontの読み込み -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- jQueryの読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>




    <!-- リアルタイムで経過時間を表示用 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/livestamp/1.1.0/livestamp.js"></script>



    <!-- push.js テスト用-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/0.0.11/push.min.js"></script>
    <script type="text/javascript">
      Push.Permission.request();
    </script>

    <%= csrf_meta_tags %>
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



  </head>

  <body>
    <header>
      <div class="header-logo">
        <%=link_to("afec","/")%>
      </div>
      <lu class="header-menus">

        <%if session[:user_id]%>
          <!-- <li><%=link_to("投稿一覧","/posts/index")%></li> -->
          <!-- <li><%=link_to("Exhange","/posts/new")%></li> -->
          <!-- <li><a class = "exchange-show">Exhange</a></li> -->
          <li><a class = "location-show">Update</a></li>
          <!-- <li><%=link_to("ユーザー一覧","/users/index")%></li> -->
          <!-- <li><%=link_to("アップデート情報","/updates")%></li> -->
          <li class= "login-btn"><%=link_to("Logout","/logout",{method:"post"})%></li>
        <%else%>
          <li><%=link_to("About Afec","/about")%></li>
          <!-- <li><%=link_to("ユーザー登録","/signup")%></li> -->
          <!-- <li><%=link_to("アップデート情報","/updates")%></li> -->
          <li class= "login-btn"><a class = "login-show">Login</a></li>
        <%end%>
      </lu>
    </header>

<!-- モーダル========================================================================================================= -->
<!-- モーダルログイン -->
    <div class="login-modal-wrapper" id="login-modal">
      <div class="modal">
        <div class = "close-modal">
          <i class="fa fa-2x fa-times"></i>
        </div>
        <div id="login-form">
            <h2>Login</h2>
            <div class="form-error">
              <%if @error_message%>
              <%=@error_message%>
              <%end%>
            </div>
              <%=form_tag("/login") do%>
                <input name = "email" class="form-control" type="text" placeholder="E-mail">
                <input name = "password" class="form-control" type="password" placeholder="Password">
                <input class="submit-btn" type="submit" value="Login">
              <%end%>
        </div>
      </div>
    </div>

  <!-- モーダル新規-->
      <div class="signup-modal-wrapper" id="signup-modal">
        <div class="modal">
          <div class = "close-modal">
            <i class="fa fa-2x fa-times"></i>
          </div>
          <div id="signup-form">
              <h2>Signup</h2>
                <div class="form-error">
                  <%if @error_message%>
                  <%=@error_message%>
                  <%end%>
                </div>
                <%=form_tag("/users/create") do%>
                  <input name = "name" class="form-control" type="text" placeholder="Username">
                  <input name = "email" class="form-control" type="text" placeholder="E-mail">
                  <input name = "password" class="form-control" type="password" placeholder="Password">
                  <input class= "submit-btn" type="submit" value="Signup">
                <%end%>
          </div>
        </div>
      </div>



    <!-- フラッシュ表示======================================================================================== -->
    <%if flash[:notice]%>
      <div class="flash">
        <%=flash[:notice]%>
      </div>
    <%end%>

    <%if flash[:notice]%>
      <div class="flash">
        <%=flash[:notice]%>
      </div>
    <%end%>

    <%= yield %>

    <footer>

    </footer>
  </body>
</html>
